/* Google Fonts import*/

@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Work+Sans:wght@200;400;700&display=swap');

/* Asterisk wildcard selector to override default syles added by the browser. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
    font-family: 'Work Sans', sans-serif;
}

/* Intro screen, image and instructions*/
#intro-screen {
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    text-align: center;
    background-color: #DFF1FF;
    margin: 10px;
}

#intro-image {
    height: 15%;
    width: 80%;
    object-fit: cover;
    padding: 15px;
}

#intro-title h1 {
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 3px;
    font-size: 165%;
    text-align: center;
    padding: 5px 15px 5px 15px;
}

#instructions h2 {
    font-size: 120%;
    text-align: center;
}

ul {
    font-size: 100%;
    list-style: circle;
    list-style-position: inside;
    padding: 5px 15px 5px 15px;
    text-align: center;
}

li {
    padding-bottom: 5px;
}

/* Start game button */

#start-button-container {
    text-align: center;
}

#start-game-button {
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 2px;
    ;
    width: 50vw;
    height: 10vh;
    margin: 15px;
    font-size: 200%;
    background-color: #0E9D37;
    color: #DFF1FF;
    text-shadow: 0 5px 5px #667899;
    box-shadow: 0 5px 5px #667899;
}

/* Game screen */

#game-screen {
    display: flex;
    flex-direction: column;
    letter-spacing: 2px;
    text-align: center;
    background-color: #DFF1FF;
    margin: 10px;
    bottom: 0px;
}

#flag-image {
    width: 100%;
    padding: 15px;
}

#question-container h2 {
    font-size: 160%;
    margin: 0px 15px 15px 15px;
}

.answer-option button {
    width: 75vw;
    height: 6vh;
    margin: 5px;
    box-shadow: 0 5px 5px #667899;
    background-color: #8EACE1;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 2px;
}

/* Progress and score trackers on game screen */

/* Progress and score indicators */
#progress {
    display: flex;
    flex-direction: row;
}

#progress-and-score-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

#ingame-score-container {
    display: flex;
    flex-direction: row;
    margin: 15px;
}

/* End screen, image, end message and return to start button */

#end-screen {
    letter-spacing: 2px;
    text-align: center;
    background-color: #DFF1FF;
    margin: 10px;
}

#end-screen-image {
    height: 15%;
    width: 80%;
    object-fit: cover;
    padding: 15px;
}

#end-message-container h1 {
    font-size: 180%;
    text-align: center;

}

#end-message {
    font-size: 180%;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 3px;
}

#final-score {
    font-family: 'Paytone One', sans-serif;
    font-size: 600%;
}

#play-again-button {
    width: 70vw;
    height: 10vh;
    margin: 15px;
    font-size: 140%;
    font-family: 'Paytone One', sans-serif;
    letter-spacing: 2px;
    background-color: #0E9D37;
    color: #DFF1FF;
    text-shadow: 0 5px 5px #667899;
    box-shadow: 0 5px 5px #667899;
}

/* MEDIA QUERY FOR HORIZONTAL PHONES */
@media screen and (min-width: 576px) {

    /* Intro screen, instructions, start game button */

    #intro-screen {
        display: flex;
        flex-direction: row;
    }

    #intro-image-title-container {
        display: flex;
        flex-direction: column;
        width: 50vw;
    }

    #intro-image {
        height: 100%;
        width: 60%;
        padding: 10px;
    }

    #intro-title h1 {
        font-size: 130%;
        padding: 10px;
    }

    #instructions {
        padding: 10px;
        width: 50vw;
    }

    ul {
        font-size: 90%;
    }

    #start-game-button {
        width: 25vw;
        height: 20vh;
        margin: 5px;
        font-size: 150%;
    }

    /* Game screen, flag image, question text, answer options */

    #game-screen {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }

    #flag-question-answers-container {
        display: flex;
        flex-direction: row;
        margin-bottom: 0px;
    }

    #flag-question-container {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        width: 60vh;
        margin-bottom: 0px;
    }

    #flag-image {
        width: 60%;
        padding: 10px;
    }

    #question-container h2 {
        font-size: 120%;
        margin-left: 10px;
        margin-right: 10px;
    }

    #answers-container {
        width: 40vw;
        margin-bottom: 0px;
    }

    .answer-option button {
        width: 30vw;
        height: 10vh;
        margin: 8px;
    }

    #answer-option-1-container {
        margin-top: 2px;
    }

    /* Progress and score trackers on game screen */

    #progress-and-score-container {
        margin-top: 5px;
    }

    #progress-and-score-container h3 {
        font-size: 80%;
    }

    #progress {
        margin: 5px;
    }

    #ingame-score-container {
        margin: 0px;
    }

    /* End screen, image, end message and return to start button */

    #end-screen {
        padding: 15px;
    }

    #end-screen-container {
        display: flex;
        flex-direction: row;
    }

    #message-score-playagain-container {
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 50vw;
    }

    #end-screen-image-container {
        display: flex;
        flex-direction: column;
        width: 65%;

    }

    #end-screen-image {
        height: 100%;
        width: 100%;
        flex-grow: 1;
    }

    #end-message-container h1 {
        font-size: 150%;
        text-align: center;
    
    }
    
    #end-message {
        font-size: 150%;
    }
    
    #final-score {
        font-size: 400%;
    }
    
    #play-again-button {
        width: 25vw;
        height: 20vh;
        font-size: 100%;
}

}

/* HIDE SCREENS AFTER INTRO - SHOW THROUGH JS FUNCTION  */

#game-screen {
    display: none;
}

#end-screen {
    display: none;
}