/* Asterisk wildcard selector to override default syles added by the browser. */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General styles */
body {
    display: flex;
    flex-direction: column;
}

    /* Hide screens after intro screen on page load */
    #instructions {
        display: none;
    }

    #game-screen {
        display: none;
    }

    #end-screen {
        display: none;
    }

    /* Hide all questions apart from first (JavaScript will show and hide further questions as needed*/
    
    #uk-question {
        display: none;
    }

    #egypt-question {
        display: none;
    }

    #japan-question {
        display: none;
    }

    #india-question {
        display: none;
    }

    #morocco-question {
        display: none;
    }

    #croatia-question {
        display: none;
    }

    #philippines-question {
        display: none;
    }

    #sri-lanka-question {
        display: none;
    }

    #burkina-faso-question {
        display: none;
    }

    #suriname-question {
        display: none;
    }

    #sudan-question {
        display: none;
    }
